<div class="col-xs-12 col-md-offset-3 col-md-6 container">
    <nav class="navbar navbar-default navbar-light bg-light">
        <span class="navbar-brand">Task List</span>
    </nav>
</div>

<div class="col-xs-12 col-md-offset-3 col-md-6 container">
  <div class="card">
    <div class="card-header">
      New Task
    </div>
    <div class="card-body">            
      <label for="addTask"><b>Enter Task</b></label>
      <input type="text" class="form-control" [(ngModel)]="newTask">
      <a href="#" class="btn btn-primary" (click)="addTask()"><i class="fa fa-plus"></i>  Add To List</a>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-3 col-md-6 container">
  <div class="card">
    <div class="card-header">
        Task List
    </div>

    <div class="card-body">            
      <table class="table table-bordered">              
        <thead class="thead-light"> 
            <tr>
              <th>Task</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tasklist">
            <td>{{ t }}</td>
            <td><a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>  
